<div class="service">
  <div class="col-service">
      <div class="icon-service">
          <i class="fa-solid fa-truck-fast"></i>
      </div>
      <div class="title-service">
          <h2>Miễn phí vận chuyển</h2>
          <p>Cho đơn hàng từ 299k</p>
      </div>
  </div>
  <div class="col-service">
      <div class="icon-service">
          <i class="fa-solid fa-box-open"></i>
      </div>
      <div class="title-service">
          <h2>Đổi hàng tận nhà</h2>
          <p>Đổi hàng trong vòng 7 ngày</p>
      </div>
  </div>
  <div class="col-service">
      <div class="icon-service">
          <i class="fa-solid fa-money-check-dollar"></i>
      </div>
      <div class="title-service">
          <h2>Thanh toán COD</h2>
          <p>Đa dạng hình thức thanh toán</p>
      </div>
  </div>
  <div class="col-service">
      <div class="icon-service">
          <i class="fa-solid fa-headphones-simple"></i>
      </div>
      <div class="title-service">
          <h2>Tư vấn miễn phí</h2>
          <p>Hỗ trợ tư vấn 24/7</p>
      </div>
  </div>
</div>

<footer>
  <div class="row-footer">
      <div class="col-4-footer">
          <div class="logo-footer">
              <img src="../assets/images/logo.png" alt="">
          </div>
          <ul class="nav-footer">
              <li><a href="#">Địa chỉ: Tầng 12, Tòa T, công viên phần mềm Quang Trung</a></li>
              <li><a href="#">Hotline: 19006789</a></li>
              <li><a href="#">Email: urbanvnmail.com</a></li>
              <li><a href="#">Facebook: urbanfacebook</a></li>
          </ul>
          <div class="nav-icon"></div>

      </div>
      <div class="col-4-footer">
          <div class="title-footer">Hỗ trợ khách hàng</div>
          <ul class="text-footer">
              <li><a href="#">Chính sách đổi trả</a></li>
              <li><a href="#">Chính sách bảo hành</a></li>
              <li><a href="#">Chính sách ưu đãi</a></li>
              <li><a href="#">Chính sách bảo mật</a></li>
          </ul>
      </div>
      <div class="col-4-footer">
          <div class="title-footer">Hệ thống cửa hàng</div>
          <ul class="text-footer">
              <li><a href="#">| Store 1: 12-12Bis, CMT8, P.Bến Thành, Q.1, HCM</a></li>
              <li><a href="#">| Store 2: 484, Lê Văn Sỹ, P.14, Q.3, HCM</a></li>
              <li><a href="#">| Store 3: 477 - 481, Sư Vạn Hạnh, P.12, Q.10, HCM</a></li>
          </ul>
      </div>
      <div class="col-4-footer">
          <div class="title-footer">Phương thức thanh toán</div>
          <ul class="text-footer" style="display: flex; margin-bottom: 20px;" >
                  <li><a href="#" style="padding: 0 10px 0 0;"><i class="fa-brands fa-cc-visa"></i></a></li>
                  <li><a href="#" style="padding: 0 10px 0 0;"><i class="fab fa-cc-mastercard"></i></a></li>
                  <li><a href="#" style="padding: 0 10px 0 0;"><i class="fab fa-apple-pay"></i></a></li>
                  <li><a href="#" style="padding: 0 10px 0 0;"><i class="fab fa-paypal"></i></a></li>
          </ul>
          <div class="title-footer">Liên hệ chúng tôi</div>
          <ul class="text-footer" style="display: flex;" >
              <li><a href="#" style="padding: 0 10px 0 0;"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="#" style="padding: 0 10px 0 0;"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#" style="padding: 0 10px 0 0;"><i class="fa-solid fa-envelope"></i></a></li>
              <li><a href="#" style="padding: 0 10px 0 0;"><i class="fa-brands fa-google"></i></a></li>
          </ul>
      </div>
  </div>
  <div class="footer-copy"><p>Copyright © 2023 Urban. All rights reserved.</p></div>

</footer>

