<header>
  <div class="nav-header">
      <div class="logo-header">
          <img src="../assets/images/logo.png" alt="logo">
      </div>
      <ul class="menu-header">
              <li><a href="#">Trang chủ</a></li>
              <li><a href="#">Sản phẩm</a></li>
              <li><a href="#">Giới thiệu</a></li>
              <li><a href="#">Bài viết</a></li>
              <li><a href="#">Liên hệ</a></li>
      </ul>
      <ul class="right-head list-unstyled d-flex align-items-center">
        <li class="nav-item">
          <i class="fa-solid fa-magnifying-glass"></i>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-user"></i></a>
          <ul class="dropdown-menu">
            <li><a *ngIf="!isLogin" [routerLink]="['/login']" routerLinkActive="router-link-active"  class="dropdown-item" href="#">Đăng nhập</a></li>
            <li><a *ngIf="!isLogin" class="dropdown-item" href="#">Đăng kí</a></li>
            <li><a *ngIf="isLogin && !isADM" class="dropdown-item" href="#">Tài khoản</a></li>
            <li><a *ngIf="isADM" [routerLink]="['/listCate']" routerLinkActive="router-link-active"  class="dropdown-item" href="#">Trang quản trị</a></li>
            <li><a *ngIf="isLogin" (click)="onLogout()" class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="cart.html" class="nav-link">
            <i class="fa-solid fa-bag-shopping"></i>
          </a>
        </li>
      </ul>
  </div>
</header>
