<div class="container">
  <!-- header -->
  <app-header *ngIf="!routerUrl.includes('/listCate') &&
   !routerUrl.includes('/addCate') &&
   !routerUrl.includes('/editCate') &&
   !routerUrl.includes('/listProduct') &&
   !routerUrl.includes('/addProduct') &&
   !routerUrl.includes('/editProduct')" >
  </app-header>

  <!-- header -->
  <router-outlet></router-outlet>
  <!-- footer -->

  <app-footer *ngIf="!routerUrl.includes('/listCate') &&
  !routerUrl.includes('/addCate') &&
  !routerUrl.includes('/editCate') &&
  !routerUrl.includes('/listProduct') &&
  !routerUrl.includes('/addProduct') &&
  !routerUrl.includes('/editProduct')"></app-footer>
</div>


